@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* - - - - - - - - - Pantalla de carga  - - - - - - - - - */
/* Animación de aparición suave */
.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}


@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.pantalla-carga {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #d6c068, #e07c2a, #d6ad24);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-out;
}

.contenedor-sol {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sol {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 120px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #ffeb3b 0%, #fdd835 60%, #fbc02d 100%);
  overflow: hidden;
  box-shadow: 0 0 30px 10px #ffeb3b;
  transition: all 2s ease-in-out;
}

.relleno {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: linear-gradient(to top, #fffde7, #fff176, #ffeb3b);
  transition: height 0.2s ease-in;
}

    
/* - - - - - - - - - HEADER - - - - - - - - - */
* {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

header{
    width: 100%;
    height: 100vh;

    font-family: "Federo", sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-content: center;
    font-size: 4.5em;
    color: #ffffff;

    
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(112, 156, 98)), url(imagenes/bosque\ fondo\ 2.jpg);
    backdrop-filter: blur(10px);
    background-size: cover;
}

.button-header {
    border: 1px solid #f1f1f1;
    border-radius: 13px;
    background-color: #f1f1f1;
    width: 9em;
    height: 3em;
}

.button-header a {
    text-decoration: none;
    color: #111;
    font-size: 1em;
}

.button-header:hover {
    transform: scale(1.1);
    transition: .3s;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.655);
}
/* - - - - - - - - - BODY - - - - - - - - - */
.ola {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f1f1f1f1;
    margin: 0;
    padding: 0;

    width: 100%;
}

/*OLA*/
.ola2 {
    margin: 0;
    padding: 0;
}
.ola3 {
    margin-top: -10px;
    padding: 0;
}
.conteiner-imagenes {
    width: auto;
    height: max-content;

    margin: 20px 0 50px 0;

    text-align: center;
    align-content: center;
}

.conteiner-imagenes h2 {
    font-size: 4vh;
}

.imagen {
    width: 20em;
    height: 27em;

    background-image: linear-gradient(rgba(255, 255, 255, 0)), url(imagenes/img-body-1.webp);
    backdrop-filter: blur(10px);
    background-size: cover;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.655);
    border-radius: 20px;
    margin: auto 10px;

    display: inline-block;

    gap: 5px;
}

.imagen p{
    display: none;
    position: fixed;
    color: #ffffff;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;

}


.imagen:hover {
    transform: scale(1.05);
    transition: .2s;
    background-image: linear-gradient(rgba(0, 0, 0, 0.63)), url(imagenes/img-body-1.webp);
    backdrop-filter: blur(10px);
    background-size: cover;
} 

.imagen:hover p {
    display: block;
}


.conteiner-sobre-nosotros{
    width: 100%;
    height: 150vh;
    background-color: #f1f1f1;
}

.conteiner-sobre-nosotros h2 {
    text-align: center;
    font-size: 5em;
}

/*IMAGENES*/
.fila-1{
    
    text-align: center;
    display: flex;
    justify-content:space-between;
}

.img-1{
    width: 30%;
    height: 70vh;
    border: solid 1px black;
}
.text-1 {
    width: 30%;
    height: 70vh;
    border: solid 1px black;
}

/*footer*/
footer {
    height: 30vh;
    width: 100%;

    background-color: #878787;
}
